.navbar.bg-body-tertiary {
    background-color: #a32626 !important;
}
.navbar-nav .nav-link {
    font-weight: bold; 
    font-size: 18px;
}
h1{
    font-weight: bold;
}
body{
    background-color: #ff9999;

}
.navbar-nav .nav-link {
    color: #290707; 
}
.navbar-nav .nav-link:hover {
    color: #ff6666;
}
.custom-card{
    background-color: #d03e3e;
    color: aliceblue;
}

table {
    width: 100%;
    margin: 0 auto; 
    background-color: hsl(0, 100%, 90%); 
}

.titulo-background {
    background-color: #dd7373;
    color: white;
    padding: 10px;
}
.card-text{
    background-color: #dda8a8;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
.carousel-item img {
    width: 100px;
    height: 700px;
}
.container.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.row.justify-content-center {
    flex-wrap: wrap;
}